.site-footer
{
  background-color:#26272b;
  margin-top: 223px;
  padding:25px 0 20px;
  font-size:15px;
  line-height:1px;
  color:#737373;
  height: 15px;
}
.copyright-text{
    margin-left: 450px;
    text-align: center;
}